In [111]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [112]:
response = requests.get('https://www.bls.gov/emp/tables/occupational-projections-and-characteristics.htm')
doc = BeautifulSoup(response.text)
doc

<!DOCTYPE HTML>
<html lang="en-us">
<head>
<!-- P4 -->
<title>Occupational projections and worker characteristics :  U.S. Bureau of Labor Statistics</title>
<meta charset="utf-8"/>
<meta content="Occupational projections and worker characteristics" name="description"/>
<meta content="2021-09-08" name="date"/>
<meta content="" name="keywords"/>
<meta content="" name="surveys"/>
<meta content="" name="programs"/>
<meta content="Demographics" name="topic"/>
<meta content="Employment and Unemployment" name="measure"/>
<meta content="0.5" name="search-priority"/>
<meta content="always" name="change-frequency"/>
<!-- START include/global/head_cms.stm -->
<script id="_fed_an_ua_tag" language="javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOL&amp;subagency=BLS&amp;yt=true"></script>
<script src="/javascripts/jquery-latest.js"></script>
<link href="/assets/bootstrap/latest/bootstrap.min.css" rel="stylesheet"/>
<script src="/assets/bootstrap/latest/popper.min.js"></script>
<script src="/assets/bootstrap/latest/bootstrap.min.js"></script>
<link href="/stylesheets/bls_combined.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/bls_content.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/bls_tables.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/jquery-tools.css" rel="stylesheet" type="text/css"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<!--[if lt IE 9]>
		<link href="/stylesheets/ie8-styles.css" media="all" rel="Stylesheet">
	<![endif]-->
<!--[if lt IE 8]>
		<link href="/stylesheets/ie7-styles.css" media="all" rel="Stylesheet">
	<![endif]-->
<!--[if lt IE 7]>
		<link href="/stylesheets/ie6-styles.css" media="all" rel="Stylesheet">
		<style>
		body {
			behavior:url(/stylesheets/csshover2.htc);
		}
		</style>
	<![endif]-->
<!--[if IE]>
		<style>
		body {
			font-size: expression(1 / (screen.deviceXDPI / 96) * 84 + '%');
		}
		</style>
	<![endif]-->
<noscript>
<link href="/stylesheets/bls_noscript.css" rel="stylesheet" type="text/css"/>
</noscript>
<!-----This means that the browser will (probably) render the width of the page at the width of its own screen. ------>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!----------->
<meta content="IE=Edge" http-equiv="x-ua-compatible"/>
<meta content="https://www.bls.gov/images/bls_emblem.png" property="og:image"/>
<style type="text/css">
		td.gsc-table-cell-thumbnail{
		display:none !important;
		}
	</style>
<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/manifest.json" rel="manifest"/>
<link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon"/>
<meta content="#ffffff" name="theme-color"/>
<!-- END include/global/head_cms.stm -->
<!--script type="text/javascript" src="/javascripts/jquery-latest.js"></script-->
<script src="/javascripts/bls-latest.js" type="text/javascript"></script>
<script src="/javascripts/jquery-tools.js"></script>
<script src="/javascripts/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<meta content="2" name="popularity"/><script>
  $(document).ready(function(){
   var $backToTop=$("#page-top-link");
   var back_to_top_location = $backToTop.position().top;
   var footerHeight = $(document).height() - $("#footer-primary-wrapper").position().top + 100
   var $pageTopLink= $backToTop.find('a');
   var offsetLeft=$pageTopLink.offset().left;
   $(window).scroll(function(){
    if($(window).scrollTop() > back_to_top_location && $(document).height() - ($(window).scrollTop() + $(window).height()) > footerHeight){
    $pageTopLink.css({"position":"fixed","bottom":"10px" ,"left": offsetLeft+"px"})
    }
    else if($(document).height() - ($(window).scrollTop() + $(window).height()) < footerHeight ){
    var back_to_top_bottom = footerHeight + ($(window).scrollTop() + $(window).height()) - $(document).height();
    $pageTopLink.css({"position":"fixed","bottom":back_to_top_bottom+"px"}) ;
     }
    else if($(window).scrollTop() <= back_to_top_location){
    $pageTopLink.css({"position":"relative", "bottom":"auto" ,"left": "auto"});
    }
    });
   });
</script> <link href="/stylesheets/bls_programs.css" rel="stylesheet" type="text/css"/>
<noscript>
<style>

		#programs-banner.generic #program-browse{
			display: block;
			top: 3px;
			width:100%;
		}
		#programs-banner.generic #program-browse > div{
			display: block;
			position: static;
			border: none;
			border-top: 1px solid #fff;
			margin: 10px 0 0;
		}
	</style>
</noscript>
<script>
$(document).ready(function(){
	/* Nav, tabbable*/
	$(".main-content #programs-banner-nav > li a").focus(function(){
		var parentUL = $(this).parent().parent();
		$(".focus").removeClass("focus");
		$(this).parent().addClass("focus");
		if(parentUL.find("span").size() == 1){
			parentUL.parent().find("ul").parent().addClass("focus");
		};
	});
	$(".main-content #programs-banner-nav a").blur(function(){
		setTimeout(function(){if( !$(document.activeElement).parents("#programs-banner-nav").size()){$(".focus").removeClass("focus");};},100);
	});

	$(".main-content #programs-banner-nav li").click(function(e){
		e.stopPropagation();
		if($(this).find("a").attr("target") == "_blank"){
			window.open($(this).find("a").attr("href"));
		}else{
			window.location = $(this).find("a").attr("href");
		}
	});
	$(".main-content #programs-banner-nav li a").click(function(e){
		$(this).blur();
		e.stopPropagation();
		e.stopImmediatePropagation();
	});


	$("#programs-banner.generic #program-browse > a").focus(function(){
		$(this).parent().addClass("focused");
		$("#programs-banner.generic #program-browse").hover(function(){
			$(this).removeClass("focused");
			$("#programs-banner.generic #program-browse *").blur();
		});
	});
	$("#programs-banner.generic #program-browse a").each(function(){
		$(this).blur(function(){
			setTimeout(function(){
				if($(document.activeElement).parents("#program-browse").length < 1 ){
					$("#programs-banner.generic #program-browse").removeClass("focused")
				};
			});
		});
	});

	/*Notices Archive Page, load*/
	$(".main-content #archive-left-side .notice-items").hide();
	var archiveLeftShow = $(".main-content #archive-left-side .notice-items")[0];
	$(archiveLeftShow).show();
	var archiveRightCurrent = $(".main-content #archive-right-side a")[0];
	$(archiveRightCurrent).addClass("current");
	/*Notices Archive Page, fcns*/
	$(".main-content #archive-right-side a").click(function(e){
		e.preventDefault();
		$(".main-content #archive-right-side a.current").removeClass("current");
		$(this).addClass("current");
		$(".main-content #archive-left-side .notice-items").hide();
		$(".main-content #archive-left-side #notices-"+$(this).text()).show();
	});

});
</script>
</head>
<body class="layout-wide">
<section aria-label="content">
<!-- PERCUSSION INNER START -->
<script>
$(document).ready(function(){
$(".bootstrap.standard-width").each(function(){
	if(!$(this).parents("footer").length){$(this).removeClass("standard-width");}
})
$("body.layout-fixed").removeClass("layout-fixed").addClass("layout-wide");
})
</script>
<style>
#bls-banner{
max-width:inherit;
}
.layout-wide #programs-banner{
margin-left:0px;
width:100% !important;
}
</style>
<!-- OneColHeadBasic Begin: Name -->
<!-- Header Filename: "/include/emp/emp_header_cms.txt" -->
<!--no_index_start-->
<!-- DOL BANNER BEGIN -->
<!-- DOL BANNER START -->
<header aria-label="global-header"> <!-- Header is closed at the end of BLS banner -->
<a class="skiplink" href="#startcontent">Skip to Content</a>
<div id="usa-banner-wrapper">
<div class="bootstrap standard-width" id="usa-banner">
<div class="content">
<div class="USA-flag-link">
<img alt="U.S. flag" src="https://www.dol.gov/themes/opa_theme/img/flag-favicon-57.png"/>
<p>An official website of the United States government

	<button aria-controls="usaBanner" aria-expanded="false" data-target="#usaBanner" data-toggle="collapse" type="button">Here is how you know <span class="oi" data-glyph="chevron-bottom"></span></button>
</p>
</div>
<a class="dolHolder" href="https://www.dol.gov/" id="dolHolder" target="_blank"><img alt="Department of Labor Logo" src="https://www.dol.gov/themes/opa_theme/img/logo-primary.svg"/>  United States Department of Labor</a>
</div>
<div class="collapse" id="usaBanner">
<div class="row">
<div class="col-md-6">
<img alt="Dot gov" src="https://www.dol.gov/themes/opa_theme/img/icon-dot-gov.svg"/>
<p>
<strong>The .gov means it's official.</strong>
<br/> Federal government websites often end in .gov or .mil. Before sharing sensitive information,
			make sure you're on a federal government site.
		</p>
</div>
<div class="col-md-6">
<img alt="Https" class="usa-banner-icon usa-media_block-img" src="https://www.dol.gov/themes/opa_theme/img/icon-https.svg"/>
<p>
<strong>The site is secure.</strong>
<br/> The
			<strong>https://</strong> ensures that you are connecting to the official website and that any
			information you provide is encrypted and transmitted securely.
		</p>
</div>
</div>
</div>
</div>
</div>
<!-- DOL BANNER END -->
<!-- DOL BANNER END -->
<!-- BLS BANNER BEGIN -->
<div id="bls-banner-wrapper">
<div id="top"></div>
<div class="bootstrap standard-width">
<div>
<div class="row" id="bls-banner">
<div class="col-sm-12 col-md-7" id="bls-banner-emblem">
<a href="https://www.bls.gov/">U.S. Bureau of Labor Statistics</a>
</div>
<div class="col-sm-12 col-md-5 d-none d-md-block" id="bls-banner-right">
<div id="bls-banner-links"><span class="social-follow"><a aria-label="Follow Us on the Bureau of Labor Statistics Twitter" href="http://twitter.com/BLS_gov" target="_blank" title="Follow BLS on Twitter">Follow Us</a> </span><span class="social-follow-links">
<!-- <img src="/images/icons/facebook.png"/>-->
<a aria-label="Bureau of Labor Statistics Twitter" href="http://twitter.com/BLS_gov" target="_blank"><img alt="Follow BLS on Twitter" src="/images/icons/twitter.png" style="margin-top:-10px;"/></a>
<!--<img src="/images/icons/linkedin.png"/>-->
</span> | <a href="/schedule/news_release/">Release Calendar</a> | <a aria-label="Blog page" href="https://blogs.bls.gov/blog/">Blog</a></div>
<div class="bls-banner-search" id="bls-banner-search1">
<form action="/search/query" method="get">
<label class="invisible" for="bls-banner-search-submit1">Search button</label>
<input alt="BLS Search Submit" id="bls-banner-search-submit1" name="term" src="/images/buttons/search_button_blue_16.png" title="Submit" type="image"/>
<label class="invisible" for="bls-banner-search-input1">Search:</label>
<input id="bls-banner-search-input1" name="query" onclick="this.value=''; this.onclick = null;" title="Search Input" type="text" value="Search BLS.gov"/>
</form>
</div>
</div>
<div class="clearfloat"></div>
</div>
</div>
</div>
</div>
</header> <!-- Header is opened at the begining of DOL banner -->
<!-- BLS BANNER END -->
<!-- MAIN NAV BEGIN -->
<div id="main-nav-wrapper">
<div id="main-nav-container">
<div>
<div class="bootstrap standard-width">
<nav aria-label="top-level navigation menu" class="navbar navbar-expand-md">
<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation menu" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
<span class="navbar-toggler-icon">Menu</span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="nojs navbar-nav mr-auto">
<li class="dropdownSearch"><div class="dropdown-search" id="bls-banner-search">
<form action="/search/query" method="get">
<label class="invisible" for="bls-banner-search-submit">Search button</label>
<input alt="BLS Search Submit" id="bls-banner-search-submit" name="term" src="/images/buttons/search_button_blue_20.png" title="Submit" type="image"/>
<label class="invisible" for="bls-banner-search-input">Search:</label>
<input id="bls-banner-search-input" name="query" onclick="this.value=''; this.onclick = null;" title="Search Input" type="text" value="Search BLS.gov"/>
</form>
</div></li>
<li class="nav-item dropdown"><a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://www.bls.gov/" id="navbarDropdown1" role="button">Home <span class="circle-arrow"></span></a>
<div aria-labelledby="navbarDropdown1" class="dropdown-menu"><!-- ********************************************** Begin Home Tab LIST ****************************************** -->
<!-- 1st column -->
<div class="main-nav-submenu" id="submenu-home">
<ul class="main-nav-submenu-inn">
<li class="heading"><a aria-label="About BLS" href="/bls/infohome.htm">About BLS</a></li>
<li><a aria-label="BLS History" href="/bls/history/home.htm">History</a></li>
<li><a aria-label="Our Leadership" href="/bls/senior_staff/home.htm">Our Leadership</a></li>
<li><a aria-label="Budget and Performance" href="/bls/bls_budget_and_performance.htm">Budget and Performance</a></li>
<li><a aria-label="Questions and Answers" href="/bls/faqs.htm">Questions and Answers</a></li>
<li><a aria-label="A-Z Index" href="/bls/topicsaz.htm">A-Z Index</a></li>
<li><a aria-label="Glossary" href="/bls/glossary.htm">Glossary</a></li>
<li><a aria-label="Careers at BLS" href="/jobs/">Careers at BLS </a></li>
<li><a aria-label="BLS Speakers Available" href="/bls/bls-speakers/">BLS Speakers Available</a></li>
<li><a aria-label="Errata" href="/errata/">Errata</a></li>
<li><a aria-label="Contact BLS" href="/bls/contact.htm">Contact BLS</a></li>
</ul>
<!-- 2nd column -->
<ul class="main-nav-submenu-inn">
<li class="heading"><a aria-label="Overview of BLS Statistics" href="/bls/overview.htm">Overview of BLS Statistics</a></li>
<li><a aria-label="Demographics Data" href="/bls/demographics.htm">Demographics</a></li>
<li><a aria-label="Statistics by Industries" href="/bls/industry.htm">Industries</a></li>
<li><a aria-label="Statistics on Business Costs" href="/bls/business.htm">Business Costs</a></li>
<li><a aria-label="Statistics by Occupations" href="/bls/occupation.htm">Occupations</a></li>
<li><a aria-label="Statistics by Geography" href="/bls/geography.htm">Geography</a></li>
</ul>
<!-- 3rd column -->
<ul class="main-nav-submenu-inn">
<li class="heading"><a aria-label="Resources For" href="/audience/">Resources For</a></li>
<li><a aria-label="Resources for Business Leaders" href="/audience/business.htm">Business Leaders</a></li>
<li><a aria-label="Resources for Consumers" href="/audience/consumers.htm">Consumers</a></li>
<li><a aria-label="Developers site" href="/audience/developers.htm">Developers</a></li>
<li><a aria-label="Economists or Economic Analyst" href="/audience/economists.htm">Economists</a></li>
<li><a aria-label="Resources for Financial Investors" href="/audience/investors.htm">Investors</a></li>
<li><a aria-label="Resources for Jobseekers" href="/audience/jobseekers.htm">Jobseekers</a></li>
<li><a aria-label="Media" href="/audience/media.htm">Media</a></li>
<li><a aria-label="Resources for Public Policymakers" href="/audience/policy.htm">Public Policymakers</a></li>
<li><a aria-label="Researcher" href="/audience/researcher.htm">Researcher</a></li>
<li><a aria-label="Resources for Students &amp; Teachers" href="/audience/students.htm">Students &amp; Teachers</a></li>
<li><a aria-label="Survey Respondents" href="/respondents/">Survey Respondents</a></li>
</ul>
</div>
<!-- ***********************************************End Home Tab LIST ******************************************** -->
</div>
</li>
<li class="nav-item dropdown active"><a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="/bls/proghome.htm" id="navbarDropdown2" role="button">Subjects <span class="circle-arrow"></span></a>
<div aria-labelledby="navbarDropdown2" class="dropdown-menu"><!-- ************************************* Begin SUBJECTS TAB list ****************************************** -->
<!-- 1st column -->
<div class="main-nav-submenu" id="submenu-programs">
<ul class="main-nav-submenu-inn">
<li class="heading"><a aria-label="Statistics on Inflation &amp; Prices" href="/bls/inflation.htm">Inflation &amp; Prices</a></li>
<li><a aria-label="Consumer Price Index " href="/cpi/">Consumer Price Index</a></li>
<li><a aria-label="Producer Price Indexes" href="/ppi/">Producer Price Indexes</a></li>
<li><a aria-label="Import/Export Price Indexes" href="/mxp/">Import/Export Price Indexes</a></li>
<li><a aria-label="Contract Escalation" href="/bls/escalation.htm">Contract Escalation</a></li>
<li><a aria-label="Price Index Research" href="/pir/">Price Index Research</a></li>
<li class="heading"><a aria-label="Statistics on Pay &amp; Benefits" href="/bls/wages.htm">Pay &amp; Benefits</a></li>
<li><a aria-label="Employment Costs Trends" href="/ncs/ect/">Employment Costs</a></li>
<li><a aria-label="National Compensation Data" href="/ncs/">National Compensation Data</a></li>
<li><a aria-label="Wage Data by Occupation" href="/oes/">Wage Data by Occupation</a></li>
<li><a aria-label="Earnings by Demographics" href="/cps/earnings.htm#demographics">Earnings by Demographics</a></li>
<li><a aria-label="Earnings by Industry" href="/ces/">Earnings by Industry</a></li>
<li><a aria-label="County Wages" href="https://www.bls.gov/cew/">County Wages</a></li> <!--full path is needed since they have a folder on the data server-->
<li><a aria-label="Employee Benefits Survey" href="/ncs/ebs/">Benefits</a></li>
<li><a aria-label="Compensation Research &amp; Program Development" href="/crp/">Compensation Research</a></li>
<li><a aria-label="Strikes &amp; Lockouts" href="/wsp/">Strikes &amp; Lockouts </a></li>
<li class="heading"><a aria-label="Statistics on Spending &amp; Time Use" href="/bls/spending.htm">Spending &amp; Time Use</a></li>
<li><a aria-label="Consumer Expenditures Surveys" href="/cex/">Consumer Expenditures </a></li>
<li><a aria-label="How Americans Spend Time Survey" href="/tus/">How Americans Spend Time</a></li>
</ul>
<!-- 2nd column -->
<ul class="main-nav-submenu-inn">
<li class="heading"><a aria-label="Statistics on Unemployment" href="/bls/unemployment.htm">Unemployment</a></li>
<li><a aria-label="National Unemployment Rate" href="/cps/">National Unemployment Rate </a></li>
<li><a aria-label="State &amp; Local Unemployment Rates" href="/lau/">State &amp; Local Unemployment Rates </a></li>
<li><a aria-label="Unemployment Research" href="/ers/">Unemployment Research</a></li>
<li class="heading"><a aria-label="Statistics on Employment" href="/bls/employment.htm">Employment</a></li>
<li><a aria-label="National Employment Statistics" href="/ces/">National Employment </a></li>
<li><a aria-label="State &amp; Local Employment, Hours, and Earnings" href="/sae/">State &amp; Local Employment </a></li>
<li><a aria-label="County Employment" href="https://www.bls.gov/cew/">County Employment </a></li> <!--full path is needed since they have a folder on the data server-->
<li><a aria-label="Worker Characteristics" href="/cps/">Worker Characteristics </a></li>
<li><a aria-label="American Indian Report" href="/air/">American Indian Report</a></li>
<li><a aria-label="Employment Projections" href="/emp/">Employment Projections </a></li>
<li><a aria-label="Job Openings &amp; Labor Turnover Survey" href="/jlt/">Job Openings &amp; Labor Turnover Survey </a></li>
<li><a aria-label="COVID-19 Business Response" href="/brs/">COVID-19 Business Response</a></li>
<li><a aria-label="Employment by Occupation" href="/oes/">Employment by Occupation </a></li>
<li><a aria-label="Work Experience Over Time" href="/nls/">Work Experience Over Time </a></li>
<li><a aria-label="Business Employment Dynamics" href="/bdm/">Business Employment Dynamics </a></li>

### since there's a table tag in the doc, I'll use the html5lib library to get the table

In [113]:
!pip install html5lib

Requirement already satisfied: html5lib in /Users/terri/.pyenv/versions/3.10.3/lib/python3.10/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/terri/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/terri/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from html5lib) (0.5.1)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/terri/.pyenv/versions/3.10.3/bin/python3.10 -m pip install --upgrade pip' command.

In [114]:
tables = pd.read_html(response.text, flavor='html5lib')

tables[0]

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,"Total, all occupations",00-0000,Summary,153533.8,165413.7,11879.9,7.7,6.0,18474.4,"$45,760",—,—,—
1,Management occupations,11-0000,Summary,9782.3,10689.1,906.8,9.3,13.1,904.4,"$102,450",—,—,—
2,Top executives,11-1000,Summary,2756.6,2970.0,213.5,7.7,3.2,251.4,"$98,720",—,—,—
3,Chief executives,11-1011,Line item,292.5,275.7,-16.8,-5.7,25.0,17.5,"$179,520",Bachelor's degree,5 years or more,None
4,General and operations managers,11-1021,Line item,2411.9,2638.2,226.3,9.4,0.7,229.6,"$97,970",Bachelor's degree,5 years or more,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,Wellhead pumpers,53-7073,Line item,13.6,14.8,1.3,9.4,6.3,1.7,"$63,740",High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training
1045,Refuse and recyclable material collectors,53-7081,Line item,140.5,157.2,16.7,11.9,12.9,21.4,"$38,500",No formal educational credential,None,Short-term on-the-job training
1046,"Tank car, truck, and ship loaders",53-7121,Line item,13.0,13.6,0.6,4.7,2.4,1.6,"$49,390",No formal educational credential,None,Short-term on-the-job training
1047,"Material moving workers, all other",53-7199,Line item,27.1,29.6,2.5,9.1,2.2,3.6,—,No formal educational credential,None,Short-term on-the-job training
1048,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...,Footnotes: (1) Data are from the Occupational ...

## Cleaning the table

In [115]:
df=tables[0]

In [116]:
df.to_csv("bls.csv", index=False)

In [117]:
df = pd.read_csv("bls.csv",na_values="—")

In [118]:
df.head()

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,"Total, all occupations",00-0000,Summary,153533.8,165413.7,11879.9,7.7,6.0,18474.4,"$45,760",NaN,NaN,NaN
1,Management occupations,11-0000,Summary,9782.3,10689.1,906.8,9.3,13.1,904.4,"$102,450",NaN,NaN,NaN
2,Top executives,11-1000,Summary,2756.6,2970.0,213.5,7.7,3.2,251.4,"$98,720",NaN,NaN,NaN
3,Chief executives,11-1011,Line item,292.5,275.7,-16.8,-5.7,25.0,17.5,"$179,520",Bachelor's degree,5 years or more,None
4,General and operations managers,11-1021,Line item,2411.9,2638.2,226.3,9.4,0.7,229.6,"$97,970",Bachelor's degree,5 years or more,None

In [119]:
df.dtypes

2020 National Employment Matrix title                                        object
2020 National Employment Matrix code                                         object
Occupation type                                                              object
Employment, 2020                                                             object
Employment, 2030                                                             object
Employment change, 2020–30                                                   object
Percent employment change, 2020–30                                           object
Percent self employed, 2020                                                  object
Occupational openings, 2020–30 annual average                                object
Median annual wage, 2021(1)                                                  object
Typical education needed for entry                                           object
Work experience in a related occupation                                      object
Typical on-the-job training needed to attain competency in the occupation    object
dtype: object

## changing the median annual wage, 2021(1) column to integers

In [120]:
df['Median annual wage, 2021(1)']=df['Median annual wage, 2021(1)'].str.strip('$')

In [121]:
df['Median annual wage, 2021(1)']=df['Median annual wage, 2021(1)'].str.replace(',','')

In [125]:
df['Median annual wage, 2021(1)']=df['Median annual wage, 2021(1)'].replace('>=$208000','208000')

In [129]:
df[df['Median annual wage, 2021(1)'].isnull()]

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
41,"Personal service managers, all other; entertai...",11-9198,Line item,573.0,615.3,42.2,7.4,13.7,47.1,NaN,Bachelor's degree,Less than 5 years,None
62,Project management specialists and business op...,13-1198,Line item,1777.3,1876.5,99.2,5.6,14.4,141.9,NaN,Bachelor's degree,None,None
90,Database administrators and architects,15-1245,Line item,168.0,181.2,13.2,7.8,16.9,13.9,NaN,Bachelor's degree,None,None
93,Software developers and software quality assur...,15-1256,Line item,1847.9,2257.4,409.5,22.2,18.5,189.2,NaN,Bachelor's degree,None,None
94,Web developers and digital interface designers,15-1257,Line item,199.4,224.9,25.5,12.8,17.7,17.9,NaN,Bachelor's degree,None,None
95,"Computer occupations, all other",15-1299,Line item,442.2,483.0,40.7,9.2,14.0,37.5,NaN,Bachelor's degree,None,None
199,Geological and hydrologic technicians,19-4045,Line item,16.8,18.3,1.5,8.7,4.0,2.3,NaN,Associate's degree,None,Moderate-term on-the-job training
205,"Life, physical, and social science technicians...",19-4099,Line item,69.7,75.5,5.8,8.3,2.9,9.3,NaN,Associate's degree,None,None
350,Actors,27-2011,Line item,51.6,68.3,16.7,32.4,23.7,8.2,NaN,"Some college, no degree",None,Long-term on-the-job training
357,Dancers,27-2031,Line item,9.0,11.7,2.7,30.0,27.2,1.9,NaN,No formal educational credential,None,Long-term on-the-job training
359,"Musicians, singers, and related workers",27-2040,Summary,205.5,226.0,20.5,10.0,32.1,26.8,NaN,NaN,NaN,NaN
361,Musicians and singers,27-2042,Line item,157.3,174.8,17.5,11.1,35.8,20.8,NaN,No formal educational credential,None,Long-term on-the-job training
362,"Miscellaneous entertainers and performers, spo...",27-2090,Line item,33.7,45.2,11.4,33.8,60.1,4.9,NaN,No formal educational credential,None,Short-term on-the-job training
443,"Medical dosimetrists, medical records speciali...",29-2098,Line item,335.0,363.6,28.6,8.5,3.1,27.4,NaN,Postsecondary nondegree award,None,None
447,"Health information technologists, medical regi...",29-9098,Line item,81.4,89.9,8.6,10.5,2.8,6.9,NaN,Postsecondary nondegree award,None,None
547,First-line supervisors of personal service and...,39-1098,Line item,200.4,248.8,48.4,24.2,10.0,28.6,NaN,High school diploma or equivalent,Less than 5 years,None
610,Models,41-9012,Line item,2.7,3.0,0.3,11.4,6.9,0.5,NaN,No formal educational credential,None,None
696,Fishing and hunting workers,45-3000,Summary,32.3,35.8,3.4,10.6,41.9,5.3,NaN,NaN,NaN,NaN
697,Fishing and hunting workers,45-3031,Line item,32.3,35.8,3.4,10.6,41.9,5.3,NaN,No formal educational credential,None,Moderate-term on-the-job training
769,Excavating and loading machine and dragline op...,47-5022,Line item,41.3,43.1,1.8,4.5,2.4,5.1,NaN,High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training
973,Computer numerically controlled tool operators,51-9161,Line item,158.4,154.5,-3.9,-2.5,1.9,16.5,NaN,High school diploma or equivalent,None,Moderate-term on-the-job training
974,Computer numerically controlled tool programmers,51-9162,Line item,27.1,34.5,7.4,27.4,1.9,4.1,NaN,Postsecondary nondegree award,None,Moderate-term on-the-job training
984,"Production workers, all other",51-9199,Line item,203.6,220.3,16.7,8.2,1.9,24.6,NaN,High school diploma or equivalent,None,Moderate-term on-the-job training
988,First-line supervisors of transportation and m...,53-1047,Line item,536.1,567.0,30.9,5.8,11.1,61.5,NaN,High school diploma or equivalent,Less than 5 years,None
1047,"Material moving workers, all other",53-7199,Line item,27.1,29.6,2.5,9.1,2.2,3.6,NaN,No formal educational credential,None,Short-term on-the-job training

In [131]:
df = df.dropna(subset=['Median annual wage, 2021(1)'])

In [135]:
df['Median annual wage, 2021(1)'] = df['Median annual wage, 2021(1)'].astype(int)

In [137]:
df.dtypes

2020 National Employment Matrix title                                        object
2020 National Employment Matrix code                                         object
Occupation type                                                              object
Employment, 2020                                                             object
Employment, 2030                                                             object
Employment change, 2020–30                                                   object
Percent employment change, 2020–30                                           object
Percent self employed, 2020                                                  object
Occupational openings, 2020–30 annual average                                object
Median annual wage, 2021(1)                                                   int64
Typical education needed for entry                                           object
Work experience in a related occupation                                      object
Typical on-the-job training needed to attain competency in the occupation    object
dtype: object

## filtering the column to only display those occupations with salary above $50000, since that's the national average for college graduates, according to multiple sources

In [141]:
df[df['Median annual wage, 2021(1)']>=50000]

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
1,Management occupations,11-0000,Summary,9782.3,10689.1,906.8,9.3,13.1,904.4,102450,NaN,NaN,NaN
2,Top executives,11-1000,Summary,2756.6,2970.0,213.5,7.7,3.2,251.4,98720,NaN,NaN,NaN
3,Chief executives,11-1011,Line item,292.5,275.7,-16.8,-5.7,25.0,17.5,179520,Bachelor's degree,5 years or more,None
4,General and operations managers,11-1021,Line item,2411.9,2638.2,226.3,9.4,0.7,229.6,97970,Bachelor's degree,5 years or more,None
6,"Advertising, marketing, promotions, public rel...",11-2000,Summary,803.8,874.7,71.0,8.8,2.6,77.0,128160,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,Crane and tower operators,53-7021,Line item,44.8,47.2,2.4,5.4,2.6,5.0,62240,High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training
1033,Hoist and winch operators,53-7041,Line item,5.0,5.2,0.2,3.4,12.7,0.6,52300,No formal educational credential,None,Short-term on-the-job training
1041,Pumping station operators,53-7070,Summary,28.8,31.4,2.6,9.1,6.4,3.5,62090,NaN,NaN,NaN
1042,Gas compressor and gas pumping station operators,53-7071,Line item,4.1,4.0,-0.1,-1.4,6.5,0.4,70720,High school diploma or equivalent,None,Moderate-term on-the-job training
1044,Wellhead pumpers,53-7073,Line item,13.6,14.8,1.3,9.4,6.3,1.7,63740,High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training

In [147]:
## save it into a new dataframe
df2=df[df['Median annual wage, 2021(1)']>=50000]

In [148]:
df2

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
1,Management occupations,11-0000,Summary,9782.3,10689.1,906.8,9.3,13.1,904.4,102450,NaN,NaN,NaN
2,Top executives,11-1000,Summary,2756.6,2970.0,213.5,7.7,3.2,251.4,98720,NaN,NaN,NaN
3,Chief executives,11-1011,Line item,292.5,275.7,-16.8,-5.7,25.0,17.5,179520,Bachelor's degree,5 years or more,None
4,General and operations managers,11-1021,Line item,2411.9,2638.2,226.3,9.4,0.7,229.6,97970,Bachelor's degree,5 years or more,None
6,"Advertising, marketing, promotions, public rel...",11-2000,Summary,803.8,874.7,71.0,8.8,2.6,77.0,128160,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,Crane and tower operators,53-7021,Line item,44.8,47.2,2.4,5.4,2.6,5.0,62240,High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training
1033,Hoist and winch operators,53-7041,Line item,5.0,5.2,0.2,3.4,12.7,0.6,52300,No formal educational credential,None,Short-term on-the-job training
1041,Pumping station operators,53-7070,Summary,28.8,31.4,2.6,9.1,6.4,3.5,62090,NaN,NaN,NaN
1042,Gas compressor and gas pumping station operators,53-7071,Line item,4.1,4.0,-0.1,-1.4,6.5,0.4,70720,High school diploma or equivalent,None,Moderate-term on-the-job training
1044,Wellhead pumpers,53-7073,Line item,13.6,14.8,1.3,9.4,6.3,1.7,63740,High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training

## filtering the Work experience in a related occupation column to show only those occupations requiring no prior experience

In [150]:
df2[df2['Work experience in a related occupation']=='None']

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
24,Construction managers,11-9021,Line item,448.0,499.4,51.4,11.5,36.2,38.9,98890,Bachelor's degree,None,Moderate-term on-the-job training
45,Buyers and purchasing agents,13-1020,Line item,439.0,415.4,-23.6,-5.4,2.6,39.5,63470,Bachelor's degree,None,Moderate-term on-the-job training
47,"Claims adjusters, examiners, and investigators",13-1031,Line item,333.8,324.7,-9.1,-2.7,1.9,24.0,65080,High school diploma or equivalent,None,Long-term on-the-job training
48,"Insurance appraisers, auto damage",13-1032,Line item,15.6,15.7,0.1,0.6,2.3,1.2,62680,Postsecondary nondegree award,None,Moderate-term on-the-job training
49,Compliance officers,13-1041,Line item,348.7,370.3,21.6,6.2,0.8,30.0,71650,Bachelor's degree,None,Moderate-term on-the-job training
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,Railroad conductors and yardmasters,53-4031,Line item,32.9,34.7,1.8,5.5,NaN,3.1,63960,High school diploma or equivalent,None,Moderate-term on-the-job training
1013,Subway and streetcar operators,53-4041,Line item,11.0,12.1,1.1,10.2,NaN,1.1,81180,High school diploma or equivalent,None,Moderate-term on-the-job training
1026,Transportation inspectors,53-6051,Line item,29.0,30.3,1.3,4.6,6.8,3.3,79770,High school diploma or equivalent,None,Moderate-term on-the-job training
1033,Hoist and winch operators,53-7041,Line item,5.0,5.2,0.2,3.4,12.7,0.6,52300,No formal educational credential,None,Short-term on-the-job training
1042,Gas compressor and gas pumping station operators,53-7071,Line item,4.1,4.0,-0.1,-1.4,6.5,0.4,70720,High school diploma or equivalent,None,Moderate-term on-the-job training

In [151]:
## saving it into a new dataframe
df3=df2[df2['Work experience in a related occupation']=='None']

In [152]:
df3

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
24,Construction managers,11-9021,Line item,448.0,499.4,51.4,11.5,36.2,38.9,98890,Bachelor's degree,None,Moderate-term on-the-job training
45,Buyers and purchasing agents,13-1020,Line item,439.0,415.4,-23.6,-5.4,2.6,39.5,63470,Bachelor's degree,None,Moderate-term on-the-job training
47,"Claims adjusters, examiners, and investigators",13-1031,Line item,333.8,324.7,-9.1,-2.7,1.9,24.0,65080,High school diploma or equivalent,None,Long-term on-the-job training
48,"Insurance appraisers, auto damage",13-1032,Line item,15.6,15.7,0.1,0.6,2.3,1.2,62680,Postsecondary nondegree award,None,Moderate-term on-the-job training
49,Compliance officers,13-1041,Line item,348.7,370.3,21.6,6.2,0.8,30.0,71650,Bachelor's degree,None,Moderate-term on-the-job training
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,Railroad conductors and yardmasters,53-4031,Line item,32.9,34.7,1.8,5.5,NaN,3.1,63960,High school diploma or equivalent,None,Moderate-term on-the-job training
1013,Subway and streetcar operators,53-4041,Line item,11.0,12.1,1.1,10.2,NaN,1.1,81180,High school diploma or equivalent,None,Moderate-term on-the-job training
1026,Transportation inspectors,53-6051,Line item,29.0,30.3,1.3,4.6,6.8,3.3,79770,High school diploma or equivalent,None,Moderate-term on-the-job training
1033,Hoist and winch operators,53-7041,Line item,5.0,5.2,0.2,3.4,12.7,0.6,52300,No formal educational credential,None,Short-term on-the-job training
1042,Gas compressor and gas pumping station operators,53-7071,Line item,4.1,4.0,-0.1,-1.4,6.5,0.4,70720,High school diploma or equivalent,None,Moderate-term on-the-job training

## filtering the Typical education needed for entry column to only show those requiring bachelor degree

In [166]:
df3[df3['Typical education needed for entry']=="Bachelor's degree"]

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
24,Construction managers,11-9021,Line item,448.0,499.4,51.4,11.5,36.2,38.9,98890,Bachelor's degree,None,Moderate-term on-the-job training
45,Buyers and purchasing agents,13-1020,Line item,439.0,415.4,-23.6,-5.4,2.6,39.5,63470,Bachelor's degree,None,Moderate-term on-the-job training
49,Compliance officers,13-1041,Line item,348.7,370.3,21.6,6.2,0.8,30.0,71650,Bachelor's degree,None,Moderate-term on-the-job training
50,Cost estimators,13-1051,Line item,199.4,200.6,1.2,0.6,0.2,17.8,65170,Bachelor's degree,None,Moderate-term on-the-job training
52,Human resources specialists,13-1071,Line item,674.8,745.1,70.2,10.4,1.8,73.4,62290,Bachelor's degree,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Clinical laboratory technologists and technicians,29-2010,Line item,335.5,372.0,36.5,10.9,0.2,25.9,57800,Bachelor's degree,None,None
490,Fish and game wardens,33-3031,Line item,7.5,7.5,0.0,0.2,NaN,0.8,60730,Bachelor's degree,None,Moderate-term on-the-job training
601,"Securities, commodities, and financial service...",41-3031,Line item,466.3,485.8,19.5,4.2,3.9,42.5,62910,Bachelor's degree,None,Moderate-term on-the-job training
605,"Sales representatives, wholesale and manufactu...",41-4011,Line item,298.2,316.5,18.2,6.1,3.2,31.7,94840,Bachelor's degree,None,Moderate-term on-the-job training
614,Sales engineers,41-9031,Line item,63.8,68.8,5.0,7.9,NaN,7.3,103710,Bachelor's degree,None,Moderate-term on-the-job training

In [167]:
## saving it into a new dataframe
df4=df3[df3['Typical education needed for entry']=="Bachelor's degree"]

## order the table by the fastest growing occupation

In [179]:
df4

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
24,Construction managers,11-9021,Line item,448.0,499.4,51.4,11.5,36.2,38.9,98890,Bachelor's degree,None,Moderate-term on-the-job training
45,Buyers and purchasing agents,13-1020,Line item,439.0,415.4,-23.6,-5.4,2.6,39.5,63470,Bachelor's degree,None,Moderate-term on-the-job training
49,Compliance officers,13-1041,Line item,348.7,370.3,21.6,6.2,0.8,30.0,71650,Bachelor's degree,None,Moderate-term on-the-job training
50,Cost estimators,13-1051,Line item,199.4,200.6,1.2,0.6,0.2,17.8,65170,Bachelor's degree,None,Moderate-term on-the-job training
52,Human resources specialists,13-1071,Line item,674.8,745.1,70.2,10.4,1.8,73.4,62290,Bachelor's degree,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Clinical laboratory technologists and technicians,29-2010,Line item,335.5,372.0,36.5,10.9,0.2,25.9,57800,Bachelor's degree,None,None
490,Fish and game wardens,33-3031,Line item,7.5,7.5,0.0,0.2,NaN,0.8,60730,Bachelor's degree,None,Moderate-term on-the-job training
601,"Securities, commodities, and financial service...",41-3031,Line item,466.3,485.8,19.5,4.2,3.9,42.5,62910,Bachelor's degree,None,Moderate-term on-the-job training
605,"Sales representatives, wholesale and manufactu...",41-4011,Line item,298.2,316.5,18.2,6.1,3.2,31.7,94840,Bachelor's degree,None,Moderate-term on-the-job training
614,Sales engineers,41-9031,Line item,63.8,68.8,5.0,7.9,NaN,7.3,103710,Bachelor's degree,None,Moderate-term on-the-job training

In [184]:
df4.dtypes

2020 National Employment Matrix title                                        object
2020 National Employment Matrix code                                         object
Occupation type                                                              object
Employment, 2020                                                             object
Employment, 2030                                                             object
Employment change, 2020–30                                                   object
Percent employment change, 2020–30                                           object
Percent self employed, 2020                                                  object
Occupational openings, 2020–30 annual average                                object
Median annual wage, 2021(1)                                                   int64
Typical education needed for entry                                           object
Work experience in a related occupation                                      object
Typical on-the-job training needed to attain competency in the occupation    object
dtype: object

### But first, the data type of the column 'Percent employment change, 2020–30' needs to be converted to float

In [188]:
df4["Percent employment change, 2020–30"] = pd.to_numeric(df4["Percent employment change, 2020–30"])

/var/folders/dt/gck6vykx0fn5_1ljzst_7tt40000gn/T/ipykernel_27366/1909966741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Percent employment change, 2020–30"] = pd.to_numeric(df4["Percent employment change, 2020–30"])

In [189]:
df4.dtypes

2020 National Employment Matrix title                                         object
2020 National Employment Matrix code                                          object
Occupation type                                                               object
Employment, 2020                                                              object
Employment, 2030                                                              object
Employment change, 2020–30                                                    object
Percent employment change, 2020–30                                           float64
Percent self employed, 2020                                                   object
Occupational openings, 2020–30 annual average                                 object
Median annual wage, 2021(1)                                                    int64
Typical education needed for entry                                            object
Work experience in a related occupation                                       object
Typical on-the-job training needed to attain competency in the occupation     object
dtype: object

In [190]:
df4.sort_values(by='Percent employment change, 2020–30',ascending=False).head(10)

,2020 National Employment Matrix title,2020 National Employment Matrix code,Occupation type,"Employment, 2020","Employment, 2030","Employment change, 2020–30","Percent employment change, 2020–30","Percent self employed, 2020","Occupational openings, 2020–30 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
382,Film and video editors,27-4032,Line item,33.0,43.9,11.0,33.2,37.9,4.7,62680,Bachelor's degree,None,None
101,Data scientists and mathematical science occup...,15-2098,Line item,63.2,83.0,19.8,31.4,2.8,7.1,100480,Bachelor's degree,None,None
55,Logisticians,13-1081,Line item,191.0,247.3,56.4,29.5,1.6,24.5,77030,Bachelor's degree,None,None
99,Operations research analysts,15-2031,Line item,104.1,129.7,25.6,24.6,0.3,10.2,82360,Bachelor's degree,None,None
97,Actuaries,15-2011,Line item,27.7,34.5,6.8,24.5,2.0,2.4,105900,Bachelor's degree,None,Long-term on-the-job training
61,Market research analysts and marketing special...,13-1161,Line item,740.9,904.5,163.6,22.1,4.4,96.0,63920,Bachelor's degree,None,None
70,Financial examiners,13-2061,Line item,70.8,83.5,12.7,17.9,0.5,6.9,81410,Bachelor's degree,None,Long-term on-the-job training
336,"Fine artists, including painters, sculptors, a...",27-1013,Line item,25.9,30.4,4.5,17.3,59.2,3.3,60820,Bachelor's degree,None,Long-term on-the-job training
58,Fundraisers,13-1131,Line item,101.3,117.5,16.1,15.9,2.0,12.0,60660,Bachelor's degree,None,None
337,Special effects artists and animators,27-1014,Line item,62.4,72.3,9.9,15.8,59.3,7.8,78790,Bachelor's degree,None,None

In [171]:
df4.to_csv("bls_cleaned.csv", index=False)